header{
    position: fixed;
    width: 1400px;
    height: 60px;
    background-color: #cd913d78;
    z-index: 10;
    font-family: 'Pushster', cursive;
    font-size: 20px;
}
nav{
    margin-top: 10px;
    padding: 5px;
    
}
a{
    text-decoration: none;
    color: black;
}   
a:hover{
    font-size:22px;
}
a:active{
    font-size:22px;
    color: white;
}

.contacts{
    display: inline;
    position: absolute;
    left: 250px; top: 20px; 
    
}
.aboutme{
    display: inline;
    position: absolute;
    left: 350px; top: 20px; 
}
.knowladge{
    display: inline;
    position: absolute;
    left: 450px; top: 20px; 
}
.education{
    display: inline;
    position: absolute;
    left: 520px; top: 20px; 
}
.code{
    display: inline;
    position: absolute;
    left: 620px; top: 20px; 
}
.PhotoMe{
    bottom: 500px;
    width: 1400px;
    height: 600px;
}

.Name{
    position: relative;
    left: 200px;
    bottom: 470px;
    font-size: 30px;
    font-family: 'Abril Fatface', cursive;
    color: antiquewhite;
    line-height: 25px;
    

}
h2{
    text-decoration: overline;
}

main{
    position: relative;
    bottom: 160px;
    width: 1400px;
    height: 2000px;
    background-color: #cd913d78;
    font-family: 'Pushster', cursive;
   

}
.main{
    margin: 20px;
    padding: 20px;
    font-size: 20px
}
#contacts{
    width: 900px;
    border-radius: 20px;
    background: white;  
}
h3{
    text-align: center;
    text-decoration: underline;
}
#aboutme{
    position: relative;
    left: 590px;
    width: 700px;
    border-radius: 20px;
    background: white;  
}
li{
    list-style-type: none;
    margin: 0px 0px 2px 15px;
}
p{
    margin-left: 15px;
    margin-bottom: 15px;
}
#knowladge{
    width: 900px;
    height: 135px;
    border-radius: 20px;
    background: white; 
}